body{
    margin: 0;
    padding: 0;
    height: 100%;
}

.background-container {
    background-image: url('https://cdn.pixabay.com/photo/2021/01/05/01/15/home-5889366_1280.jpg'); /* Replace 'background.jpg' with your background image path */
    background-size: cover; /* This will make the background image cover the entire container */
    background-position: center; /* Center the background image */
    height: 100vh; /* Make the container take the full height of the viewport */
    display: flex;
    /* align-items: center; */
    justify-content: space-between;
    color: white; /* Add any additional styling for the content */
}
.material-symbols-outlined {
    font-family: 'Material Symbols Outlined';
    font-weight: normal;
    font-style: normal;
    font-size: 13px;
    line-height: 1;
    letter-spacing: normal;
    text-transform: none;
    display: inline-block;
    white-space: nowrap;
    word-wrap: normal;
    direction: ltr;
    -webkit-font-feature-settings: 'liga';
    -webkit-font-smoothing: antialiased;
    height: 25px;
    width: 25px;
    color: black;
    background-color: white;
    border-radius: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.header{
    margin: 20px;
    height: 40px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* background-color: blueviolet; */
}
.House{
    font-size: 26px;
}
.center-contant{
    height: 40px;
    width: 399px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    /* background-color: aqua; */
    
}

